.product-gallery { 
}
 

.product-gallery .btn-gallery-contols {
  position: absolute;
  border: 0 none transparent;
  background-color: transparent;
  top: 0;
  bottom: 0;
  transition: background-color 250ms ease;
  height: 100%;
}

.product-gallery .btn-gallery-contols:hover {
  transition: background-color 250ms ease;
  background-color: var(--brand-400);
}

.product-gallery .previousImage {
  left:0;
}
.product-gallery .nextImage {
  right:0;
} 
