/*.hero {
    min-height: 15vh;
    background: linear-gradient(35deg,#1cc81c33 10%,#111111e6 150%),url(/img/hero/laser-background.png) center/cover no-repeat;
    .home & {
        min-height: 75vh; 
    }
}*/

.home .hero-content h1 {
    font-size: var(--font-scale-43-62);
    margin-bottom: 20px
}

.home .hero-content p {
    font-size: var(--font-scale-20-26);
    margin-bottom: 30px
}

.hero-content h1 {
    line-height: 1.1;
    font-weight: 500;
    text-transform: uppercase;
    font-size: var(--font-scale-27-36); 
    background: -webkit-linear-gradient(var(--surface-100),var(--primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.hero-content p {
    font-size: var(--font-scale-17-20); 
}

.home .hero,
.products .hero,
.about .hero,
.contact .hero,
.faq .hero {
    background: linear-gradient(#1cc81c33,#1c1c1ccc),url(/img/green-laser-background.jpg) center/cover no-repeat
}